DATABASE_URL=postgresql://usuario:password@localhost:5432/merka_sync
PORT=8080
MERKA_SYNC_PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
MERKA_SYNC_EXPECTED_ISSUER=MerkaERP-ControlCenter
